.form-control {
    margin-left: 15px;
}

#add-item {
    margin-top: 9px;
    margin-left: 25px;
}

.error{
    border-color: red;
    box-shadow: none !important;
    outline: none !important;
    outline: 0;
    transition-duration: 1s;
}