.form-control {
    margin-left: 15px;
}

#add-item {
    margin-top: 9px;
    margin-left: 25px;
}

#find-form {
    margin-top: 10px;

}

.error{
    border-color: red;
    box-shadow: none !important;
    outline: none !important;
    outline: 0;
    transition-duration: 0.4s;
}

#find-name {
    margin-left: 10px;
    width: 645px;
}

#find-button {
    margin-top: -63px;
    margin-left: 680px;
}

#error-box {
    margin-left: 15px;

}

#finder-list {
    width: 920px;
    margin-right: 60px;
}

#finder-container {
    margin-right: 160px;
}

#edit {
    margin-right: 7px;
}

#edit-form {
    margin-top: 10px;
}

#edit-link-name {
    width: 180px;
}

#edit-link-tag {
    width: 185px;
}

#edit-item {
    margin-top: 9px;
    margin-left: 14px;
}