.form-control {
    margin-left: 15px;
}

#add-item {
    margin-top: 9px;
    margin-left: 25px;
}

#find-form {
    margin-top: 10px;

}

.error{
    border-color: red;
    box-shadow: none !important;
    outline: none !important;
    outline: 0;
    transition-duration: 1s;
}

#find-name {
    width: 645px;
}

#find-button {
    margin-top: 9px;
    margin-left: 15px;
}